<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
            }

            .email-container {
                background-color: #ffffff;
                padding: 20px;
                margin: 20px auto;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                max-width: 600px;
            }

            .email-header {
                text-align: center;
                margin-bottom: 20px;
            }

            .email-header img {
                max-width: 150px;
            }

            .email-content {
                font-size: 16px;
                color: #333333;
            }

            .email-content p {
                margin-bottom: 20px;
            }

            .email-button {
                display: block;
                width: 200px;
                margin: 0 auto 20px;
                padding: 10px 0;
                background-color: #007BFF;
                color: #ffffff !important;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
            }

            .email-footer {
                text-align: center;
                font-size: 12px;
                color: #777777;
                margin-top: 20px;
            }
        </style>
    </head>
    
    <body>
        <div class="email-container">
            <div class="email-header">
                <img src="https://nuxivy.b-cdn.net/category/3.png?width=1200&height=1200" alt="Mydashop">
            </div>

            <div class="email-content">
                <p>Xin chào {{name}},</p>
                <p>Chúng tôi nhận được yêu cầu khôi phục mật khẩu cho tài khoản của bạn. Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này. Nếu bạn muốn tiếp tục, vui lòng nhấp vào liên kết dưới đây để đặt lại mật khẩu của bạn:</p>
                <a href="{{resetLink}}" class="email-button">Đặt Lại Mật Khẩu</a>
                <p>Lưu ý rằng liên kết này sẽ hết hạn sau 1 giờ kể từ thời điểm gửi email này.</p>
                <p>Nếu bạn gặp bất kỳ vấn đề nào, vui lòng liên hệ với bộ phận hỗ trợ khách hàng của chúng tôi.</p>
            </div>

            <div class="email-footer">
                Trân trọng
            </div>
        </div>
    </body>
</html>
